#app4 {
    display: flex;
    justify-content: center;
    align-items: center;
}
@keyframes change {
  0% {
    background: green;
  }
  100% {
    background: yellow;
  }
}
#app4 .circle {
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  border: 1px solid grey;
}
#app4 .circle.active{
  animation: change 2s infinite alternate linear;
}